.theme-light body {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
}

.theme-dark body {
  background-color: #091a28;
  color: #ebf4f1;
}
.theme-sepia body {
  background-color: #f1e7d0;
  color: #433422;
}
