// 字体【fonts】
/* alphabet */
@font-face {
  font-family: "Kalam";
  src: url("~/assets/fonts/Kalam.ttf");
}
/* japanese */
@font-face {
  font-family: "KiwiMaru";
  src: url("~/assets/fonts/KiwiMaru.ttf");
}


// 颜色【colors】
$main-color-1:#242b32;
$main-color-2:#c0856c;
$theme-color-1: #33383e;
$theme-color-2: #fff;


// 主题色【themes】
/* dark theme */
.theme-dark body {
  background-color: $theme-color-1;
  color: $theme-color-2;
}
/* light theme */
.theme-light body {
  background-color: $theme-color-2;
  color: $theme-color-1;
}
/*
 // sepia theme
 .theme-sepia body {
   background-color: #f1e7d0;
   color: #433422;
 }
*/


// 空间大小【space】
/* screen width */
$screen-min-width: 320px;